doctype html
html(lang="en")
  head
    title="title"
    link(rel='stylesheet', href='./assets/styles.css')
    h1 Header Title
  body
    p This is the body
    script(src='./assets/scripts.js')
  footer
    p This is the footer
